.peepl-map {
    height: 25em;
    background: transparent;

    @include media-breakpoint-up(sm) {
        height: 35em;
    }

    @include media-breakpoint-up(lg) {
        height: 45em;
    }

    .leaflet-tile-pane {
        opacity: 0.5;
    }
}

.customer-returning,
.customer-new {
    border-radius: 100%;
    border: 4px solid #fff;
    box-shadow: 0 5px 10px rgba(#000, 0.2);
    background-color: $color-peepl-red;
    @include gradient-y($color-peepl-orange, $color-peepl-red);

    .peepl-map.zoomed-out & {
        width: 20px !important;
        height: 20px !important;
        margin-top: -10px !important;
        margin-bottom: -10px !important;
        border-width: 3px;
    }
}

.customer-new {
    background-color: $color-peepl-green;
    @include gradient-y($color-peepl-green, $color-peepl-teal);
}

.peepl-map-filters {
    .form-control {
        @include media-breakpoint-up(sm) {
            display: inline-block;
            width: auto;
        }
    }
}

.peepl-map-attribution {
    font-size: 0.625rem;
    color: $gray-400;
    text-align: right;

    a {
        color: $gray-200;
    }
}

.statistic {
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
        margin-top: 3rem;
    }

    h1 {
        font-size: 3rem;
        letter-spacing: 0.1rem;
        line-height: 1;
        border-top-width: 0.2rem;
        border-top-style: solid;
        border-image: linear-gradient(to right, $color-peepl-red, $color-peepl-orange) 1 1;
        padding-top: 1rem;
    }

    p {
        margin-bottom: 0;
    }

    .customer-returning,
    .customer-new {
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
}
