// Color system

$color-peepl-red: #FC0C1A;
$color-peepl-orange: #FC870C;
$color-peepl-yellow: #FCCA0C;
$color-peepl-green: #7EBD46;
$color-peepl-teal: #46BDB1;
$color-peepl-blue: #2B70DF;
$color-peepl-cream: #F5F2EB;

$red: $color-peepl-red;
$orange: $color-peepl-orange;
$yellow: $color-peepl-yellow;
$green: $color-peepl-green;
$blue: $color-peepl-blue;

// Options

// Spacing

// Body

// Links

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Components

$border-radius: 0.5rem;
$border-radius-lg: 0.75rem;
$border-radius-sm: .25rem;

// Typography

$font-family-base: "Lato", sans-serif;

$headings-font-family: "Montserrat", sans-serif;
$headings-font-weight: 700;

// Tables

// Buttons + Forms

// Buttons

$btn-padding-x: 1rem;

$btn-border-width: 0;

$btn-border-radius: 10em;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

// Forms

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Jumbotron

// Cards

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Code

$code-color: inherit;

// Utilities

// Printing
